@import "colors";

.board-group {
  padding-left: 4px;
  .board-info {
    float: right;
    &:not(:hover):not(:focus) .board-callout {
      visibility: hidden;
    }
    .board-callout {
      font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      @include color(black);
      @include border(solid, 2px, lightgray);
      text-align: center;
      position: absolute;
      z-index: 1;
      top: 1em;
      right: 0px;
      width: 350px;
      max-width: 100%;
      margin-left: -100px;
      @include background-color(white);
      padding: 8px;
      .message {
        margin-bottom: 10px;
      }
    }
  }
  .board-control {
    .board-link {
      margin-bottom: 5px;
      font-size: 15px;
    }
    .board-selector {
      padding: 0px;
      background-color: transparent;
      vertical-align: middle;
      height: 18px;
      margin-left: 2px;
      &:not(:focus):not(:hover) {
        border-color: transparent;
      }
    }
    button {
      @include color(black);
    }
    .dropdown {
      margin: 0;
      padding: 0;
      li {
        @include border(1px, solid, gray);
        padding: 2px 10px;
        cursor: pointer;
        margin-right: 1px;
        &:not(:last-child) {
          border-bottom: none;
        }
        &.selected {
          text-decoration: underline;
          @include background-color(lightgray);
        }
      }
    }
    .col-index-input {
      & > button {
        height: 18px;
        width: 18px;
        padding: 0px;
        margin: 0 3px;
      }
      & > button:not(:hover):not(:focus) {
        @include border-color(white);
      }
      button.up {
        &:disabled {
          opacity: 0.5;
        }
      }
      button.down {
        &:disabled {
          opacity: 0.5;
        }
      }
    }
    label {
      display: block;
    }
    div.combo.input-text-box.list {
      &.drop {
        width: calc(100% - 1px);
        margin-left: -4px;
        @include border-color(lightgray);
        &:not(:hover):not(.focus) {
          border-color: transparent;
          .drop.bowtie-icon:not(.hover) {
            visibility: hidden;
          }
        }
      }
      input {
        font-size: 14px;
      }
    }
  }
  /* .disclaimer {
    margin-top: 10px;
} */
  .board-error {
    @include color(red);
  }
}
